:root {
  --primary-color: #594ce9;
  --background-color: #f5f5f5;
  --card-color: #ffffff;
  --text-color: #202020;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional but recommended for consistent box model */
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px 100px;
}

li {
  padding: 8px 16px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--primary-color);
}

.hamburger-menu {
  display: none;
  width: 24px;
  height: 24px;
}

.nav-items li:hover {
  background-color: #dedbfb;
  padding: 8px 16px;
}

.logo {
  width: 32px;
  height: 32px;
}
.logo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2px;
}

body,
p,
li,
h4 a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 100px;
}

.CTA-Button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: #f9fafb;
  border-radius: 8px;
  font-weight: 700;
  border: none;
}

button.CTA-Button:hover {
  background-color: #4a3fc2;
}

em {
  color: var(--primary-color);
  font-style: normal;
}

.hero-card {
  display: flex;
  padding: 42px 110px;
  gap: 120px;
  width: 100%;
  justify-content: center;
}

.img-container {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-container p {
  min-width: max-content;
}

.hero-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  border-radius: 0px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  font-weight: 300;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 60px 100px;
  gap: 24px;
}

.page-title {
  font-size: 18px;
  font-weight: 400;
}
.case-study-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 24px;
}

.card-work {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--card-color);
  padding: 16px 16px;
  border-radius: 24px;
  gap: 10px;
  height: fit-content;
}

.img-card {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

.label-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  max-width: fit-content;
  padding: 8px 0px;
}

.card-label-container {
  max-width: fit-content;
  background-color: #8ea0e3;
  border-radius: 999px;
}

.card-label {
  font-size: 14px;
  color: var(--card-color);
  max-width: fit-content;
}

.intro-section {
  background-color: #594ce9;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 24px 100px;
  gap: 24px;
}

.page-title-secondary {
  color: var(--background-color);
}

.profile-img {
  width: 310px;
  height: 230px;
  border-radius: 16px;
  object-fit: cover;
}

.intro-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.intro-description {
  color: var(--background-color);
  line-height: 180%;
}

.review-section {
  /* color: var(--background-color); */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 60px 100px;
  gap: 24px;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  gap: 24px;
}

.review-card {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 16px;
  border: 1px solid #8ea0e3;
}

.profile-detail {
  display: flex;
  gap: 8px;
  width: 100%;
}

.reviewer-photo {
  width: 70px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.name-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  align-content: center;
  gap: 8px;
}

.name {
  max-width: fit-content;
  padding: 0px;
}

.profession {
  max-width: fit-content;
  padding: 0px;
}

.john-doe {
  font-size: 16px;
  font-weight: 500;
}

.professionn {
  font-size: 12px;
  font-weight: 200;
  max-width: fit-content;
}

.review-description {
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .nav-items {
    display: none;
    align-items: center;
    gap: 24px;
    color: var(--primary-color);
  }
  .navbar {
    padding: 24px 24px;
  }
  .hamburger-menu {
    display: block;
  }
  .hero-section {
    padding: 24px 24px;
  }
  .hero-img {
    width: 50%;
    height: 50%;
  }
  h1 {
    font-size: 26px;
  }
  .hero-card {
    gap: 60px;
    padding: 21px 55px;
  }
  .img-text {
    font-size: 14px;
  }
  .work-section {
    padding: 24px 24px;
  }
  .case-study-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
  }
  h4 {
    font-size: 24px;
  }
  .card-description {
    font-size: 14px;
  }
  .card-label {
    font-size: 12px;
  }
  .intro-section {
    padding: 24px;
  }
  .intro-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .intro-description {
    font-size: 14px;
  }
  .profile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .review-section {
    padding: 24px;
  }
  .review-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .review-card {
    padding: 16px 16px;
  }
}
